pandas
xgboost
torch>=2.0
lightning>=2.0
pytorch-forecasting>=1.0
numpy>=1.23
pandas>=1.5
tensorboard>=2.10
tensorflow
pytorch_optimizer
mlflow
lightgbm
optuna
shap
boto3
streamlit
plotly
pytest>=8.0
